<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="icon" href="{% static 'images/logo.jpg' %}">
    <title>About Us</title>

    <link href="{% static 'css/styler.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
         body {
       padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
          padding-top: 56px;
        }
     }
     .btn-outline-success:hover {
      background-color: #ff704d;
     }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" style="font-family: 'Roboto Slab', serif;" href="{% url 'home' %}">BSE</a>

        <div class="" id="navbarResponsive">


          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'creg' %}">Company Registration</a>
            </li>
            <li>
          <form  align="right" action="{% url 'db' %}"class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Get Quote" aria-label="Search" name="ticker">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-12">

          <div class="card mt-4" style="border-radius: 38px">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Bombay_Stock_Exchange_logo.svg" >
            <div class="card-body">
              <h4>About BSE</h4>
              <p class="card-text">BSE is powered by simple and smart features designed to cater all your investment needs . It offers
valuable and insightful research reports along with advanced self-research tools for effective online stock
analysis. Stock screener tools helps you to choose your stock investments based on fundamental company
analysis while it will also aid you to select best performing stocks on the basis of sound technical analysis.
Moreover, the platform has been designed to sense what you need and personalize what you see. Our stock
analysis platform is power packed with useful features like advanced portfolio tracker, market watch, stock
screener, technical analysis of stocks and many more. BSE also offers an exclusive research enabled
trading platform exclusively for derivatives customers. Open an online services account with BSE today
and enjoy these exclusive features for free!</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
              - Govt of India
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <p style="position: absolute ; left: 50%; transform: translate(-50%,0); display: block"> Office: </p><br>
            </div>
            <div class="card-body">
              <h5>Bombay Stock Exchange</h5>
              <p>Corporate Office
                  BSE Limited
                  <br>
                  Phiroze Jeejeebhoy Towers
                  <br>
                  Dalal Street<br>
                  Mumbai- 400001<br>
                  Phones : 91-22-22721233/4, 91-22-66545695<br>
                  Fax : 91-22-22721919<br>
                  CIN: L67120MH2005PLC155188<br>
                  Email: corp.comm@bseindia.com</p>
                <hr>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BSE 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
