<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" >
    <title>Contact</title>

    <link href="{% static 'css/styler.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
         body {
       padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
          padding-top: 56px;
        }

    .btn-outline-success:hover {
      background-color: white;
     }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" style="font-family: 'Roboto Slab', serif;" href="{% url 'home' %}">BSE</a>

        <div class="" id="navbarResponsive">


          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-lg-12" style="padding: 25px 0;">

          <div class="row">

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <p style="position: absolute ; left: 50%; transform: translate(-50%,0); display: block">Contact the Developers</p><br>
            </div>
            <div class="card-body">
              <h5>Deepak Agarwal</h5>
              <p> Email:dpkagarwal023@gmail.com</p>
              <hr>
              <p>Contact:7892826952</p>
              <small class="text-muted">16074008</small>
                <hr>
              <h5>Goutam Doddamani</h5>
              <p> Email:goutam985@gmail.com</p>
              <hr>
              <p>Contact:9483810393</p>
                 <small class="text-muted">16074014</small>
            </div>
          </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

      

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BSE 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
