{% extends "aa/nav.html" %}

{% block content %}
    {% if ticker %}
        {{ ticker}}
    {% endif %}
        {% if not ticker %}
        <div>
        <h1>{{symbol}}</h1><br>
        <img src="{{chartTodayPath}}" height="200px" width="200px"><br>
        
        <ul>
        <li>Name:<h4>{{cname}}</h4><br></li>
        <li>Sector:{{sector}}<br></li>
        <li>Revenue (in Cr): {{revenue}} <br></li>
        <li>Market Capital (in Cr): {{market_capital}}<br></li>
            <br>
        <li>Open:{{Open}}<br></li>
        <li>High:{{dayHigh}}<br></li>
        <li>Low:{{dayLow}}<br></li>
        <li>lastPrice:{{lastPrice}}<br></li>
        <li>previousClose:{{previousClose}}<br></li>
        <li>change:{{change}}<br></li>
        <li>Percentage Change:{{pChange}}<br></li>
        <li>yearHigh:{{yearHigh}}<br></li>
        <li>yearLow:{{yearLow}}<br></li>
    </ul>
        <br>
        <hr>
    </div>
        <div>
        <form action="{%  url 'sellbuy' %}"  method="POST">
            {% csrf_token %}
            <span ><b>Quantity :</b></span>
                <input type="number" name="quantity" id="quantity" placeholder="01">
                <input type="hidden" name="ticker"  value="{{symbol}}">
            <br><br>
            <div class="center"><button class="btn waves-effect waves-light  light-green accent-4 black-text" type="submit" name="buy" id="buy" value="BUY"  ><b>BUY</b></button>
            </div>
            <br>
            <br>
            <div class="center"><button class="btn waves-effect waves-light  light-green accent-4 black-text" type="submit" name="sell" id="sell" value="SELL"  ><b>SELL</b></button>
            </div>
    </form>
</div>
    {% endif   %}
       
{% endblock %}


